# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\MyTimeLine\Last\FPOLY_CLASS\TUTOR_SOF304_SP24_BL2\bai-tap-buoi-11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
