# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\MyTimeLine\Last\FPOLY_CLASS\SOF3011_SP24_BL2\PH40458_LAB5_6_0406\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
